@import 'tailwindcss';

@theme {
  --color-fk-yellow: #fbdb1d;
  --color-fk-black: #201e1e;
  --font-roboto: 'Roboto', sans-serif;
}

.fii-background {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  position: relative;
}

.fii-background::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../public/logo.png');
  background-repeat: repeat;
  background-size: 80px 80px;
  opacity: 0.1;
  pointer-events: none;
  z-index: 0;
}

.fii-background > div {
  position: relative;
  z-index: 1;
}
